* {
    margin: 0px ;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/3707669/pexels-photo-3707669.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-position: center;
    background-size: cover;
    position: relative;
}

.logo {
    height: 100px;
    width: 100px;
    padding: 15px;
    cursor: pointer;
}

.content {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: wheat;
    margin-left: 20px;
}

.content h1 {
    font-size: calc(2.5rem + 1vw);
    font-weight: 600;
    
}
.content .info {
    font-size: calc(16px + 1vw);
    color: greenyellow;
    font-weight: 600;
}

.content h1 span {
    color: rgb(235, 8, 129);
}

.content button {
    color: rgb(235, 8, 129);
    background-color: transparent;
    border: 2px solid rgb(235, 8, 129);
    padding: 5px 10px;
    outline: none;
    font-size: 1rem;
    font-weight: bold;
}

.content button:hover {
    cursor: pointer;
    padding: 10px;
}
.launch-time {
    display: flex;
    margin: 20px;
}

.launch-time div {
    flex-basis: 20vw;
}

.launch-time div p {
    font-size: calc(45px + 1vw);
    margin-bottom: 10px;
}

/* rocket icon*/
.size {
    height: 40px;
    position: absolute;
    animation: rocket 5s linear infinite;
    bottom: 0;
}

.floater1 {
    right: 5%;
}

.floater2 {
    left: 10%;
}

.floater3 {
    right: 45%;
}

@keyframes rocket {
    0% {
        bottom: 0;
        /* left: 10px; */
        opacity: 0;
    }

    100%{
        bottom: 105%;
        right: 45%;
        opacity: 0.9;
    }
}